#root {
    min-height: 100vh;
}

body {
    overflow-y: scroll;
}

button, a, input, select {
    outline: none;
}

.input-color {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 30px;
    height: 30px;
}

.container {
    min-width: 1200px;
}

.btn-primary {
    @apply bg-blue-700 text-white px-6 py-2 shadow-md font-medium
    hover:bg-blue-600;
}

.btn-default {
    @apply bg-white text-gray-800 px-6 py-2 shadow-md font-medium
    hover:bg-gray-50 border border-gray-100;
}

.btn-danger {
    @apply bg-red-500 text-white px-6 py-2 shadow-md font-medium
    hover:bg-red-400 border border-gray-100;
}

.btn-info {
    @apply bg-gray-500 text-white px-6 py-2 font-medium border border-gray-100;
}

.btn {
    @apply bg-white text-gray-800 px-6 py-2 font-medium
    hover:bg-gray-50 border border-gray-200;
}

input {
    @apply bg-gray-50 border border-gray-300
    text-gray-900
    focus:ring-blue-500 focus:border-blue-600 block w-full p-2 px-2.5
}

.disabled {
    opacity: 0.5;
    color: gray;
    pointer-events: none;
}

a.active {
    @apply bg-blue-100;
    pointer-events: none;
}

.w-02 {
    width: 15px;
}
