@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-white text-gray-800 px-6 py-2 rounded-lg shadow-md
    hover:bg-blue-300 transition-all;
}

input {
    @apply bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-600 block w-full p-2.5
}