@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-blue-700 text-white px-6 py-2 shadow-md font-medium
    hover:bg-blue-600;
}

.btn-default {
    @apply bg-white text-gray-800 px-6 py-2 shadow-md font-medium
    hover:bg-gray-50 border border-gray-100;
}

.btn {
    @apply bg-white text-gray-800 px-6 py-2 font-medium
    hover:bg-gray-50 border border-gray-200;
}

input {
    @apply bg-gray-50 border border-gray-300
    text-gray-900
    focus:ring-blue-500 focus:border-blue-600 block w-full p-2 px-2.5
}